html,
body {
  /* Project colors */
  color: #fafafa;
  background-color: #212121;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
  font-size: 1em;
  color: #515151;
  padding: 50px 0px 15px 0px;
  background-color: #262626;
  border-bottom: solid 1px #525252;
}

textarea {
  font-size: 1.2em;
}

input:hover {
  border-color: #ff8c05;
}

input:focus {
  border-color: #ff8c05;
}

textarea:hover {
  border-color: #ff8c05;
}

textarea:focus {
  border-color: #ff8c05;
}
