.container {
  height: calc(100vh - 25px);
  padding: 0px 15vw;
}

.title {
  color: #ff8c05;
  font-weight: 700;
  font-size: 2em;
}

.subtitle {
}

.card {
  margin-bottom: 50px;
  padding: 25px;
  border-radius: 10px;
  background-color: #262626;
}

.card:first-child {
  margin-top: 25px;
}
