.container {
  height: calc(100vh - 25px);
  padding: 0px 15vw;
}

.card {
  margin-bottom: 50px;
  padding: 25px 0px;
  border-radius: 10px;
  background-color: #262626;
}

.card:first-child {
  margin-top: 25px;
}
